th, td {
    padding: 0.3%;
    border: none;
    text-align: center;
    table-layout: auto;
    
  }

.b1{
    
    border: none;
    color: white; 
    border-radius: 7px;
    background-color:#37acda;

}

.b2{
    border: none;
    border-radius: 7px;
    background-color:#37acda;
    color: white;
    margin-left: 5px;
}

body,html{    
    height: auto;
    align-self: auto;
    text-align: center; 
}
.searchBar{
    
    margin: auto;
    margin-top: 20px;
    

}
.searchBar input{
    width: 35%;
    height: 20px;
    border: none;
    padding: 5px;
    border-bottom: 2px solid #37acda;
}
.head{
    margin: auto;
    background-color: #001399;
    height: 55px;
    text-align: left;
    margin-bottom: 5px;
    padding-left: 10px;
    color: white;
}
.checkBox{
   align-content: flex-start;
}

