th, td {
    padding-right: 30px;
    border: none;
    text-align: center;
    
  }

.b1{
    
    border: none;
    color: white; 
    border-radius: 7px;
    background-color:#37acda;

}

.b3{
    border: none;
    border-radius: 7px;
    background-color:#37acda;
    color: white;
    
}
.b4{
    border: none;
    border-radius: 7px;
    background-color:#37acda;
    color: white;
    margin-left: 5px;
    
}
.b5{
    border: none;
    border-radius: 7px;
    background-color:#37acda;
    color: white;
    
    
}
.b6{
    border: none;
    border-radius: 7px;
    background-color:#37acda;
    margin-left: 5px;
    color: white;
}
body,html{    
    height: auto;
    align-self: auto;
    margin-left: 500px;   
}
.searchBar{
    
    margin: auto;
    margin-top: 20px;
    

}
.searchBar input{
    width: 455px;
    height: 20px;
    border: none;
    padding: 5px;
    border-bottom: 2px solid #37acda;
}
.head{
    margin: auto;
    background-color: #001399;
    height: 55px;
    text-align: left;
    padding: 10px;
    color: white;
}
.checkBox{
    margin-left: 320px;
    margin-bottom: 20px;
}

